.button {
    border: none;
    outline: none;
    width: var(--w);
    height: var(--h);
    border-radius: var(--borderRadius);
    color: var(--quaternary);
    transition: all 0.2s ease-out;

    &.background-white {
        background: var(--secondary);
    }

    &.background-white:hover {
        background: color-mix(in srgb, var(--secondary), #000 5%);
    }

    &.inherit {
        background: inherit;
    }

    &.inherit:hover {
        background: color-mix(in srgb, var(--secondary), #000 10%);
    }
}