.button {
    border: none;
    outline: none;
    width: var(--w);
    height: var(--h);
    border-radius: var(--borderRadius);
    color: var(--quaternary);
    transition: all 0.2s ease-out;
    cursor: pointer;

    &.inherit {
        background: inherit;

        &:hover {
            background: color-mix(in srgb, var(--secondary), #000 10%);
        }
    }

    &.bg-white {
        background: var(--secondary);

        &:hover {
            background: color-mix(in srgb, var(--secondary), #000 5%);
        }
    }

    &.bg-gray {
        background: #c1c1c1;
        color: var(--secondary);

        &:hover {
            background: color-mix(in srgb, var(--secondary), #000 15%);
        }
    }

    &.bg-blue {
        color: var(--secondary);
        background-color: var(--tertiary);

        &:hover {
            background-color: color-mix(in srgb, var(--tertiary), #000 10%);
        }
    }

    &.btn-close {
        background-color: inherit;

        &:hover {
            background-color: inherit;
        }
    }
}