.tooltip {
    /* Tooltip overrides */
    --rt-color-white: var(--secondary);
    --rt-color-dark: var(--quaternary);
    --rt-color-info: var(--tertiary);
    --rt-opacity: 1;
    
    /* Default Values */
    --rt-color-success: #8dc572;
    --rt-color-error: #be6464;
    --rt-color-warning: #f0ad4e;
    --rt-transition-show-delay: 0.15s;
    --rt-transition-closing-delay: 0.15s;
}