@font-face {
    font-family: 'Montserrat-bold';
    src: url("@font/Montserrat-Bold.ttf") type("truetype");
    font-weight: bold;
    font-display: swap;
}

.table {
    background-color: var(--secondary);
    border-radius: 10px;
    --actions-width: 140px;

    & .table-header-container {
        background-color: var(--tertiary);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 0 25px;

        & .table-header {    
            height: 65px;
            width: 100%;
            padding: 0 15px;

            display: flex;
            flex-direction: row;
            align-items: center;

            text-align: center;
    
            & span {
                flex: 1 1 0;
                font-size: 1.3em;
                font-weight: bold;
            }
    
            & .actions-header {
                width: var(--actions-width);
                height: auto;
            }
        }
    }
}