.nav-item {
    --inactive-color: color-mix(in srgb, var(--quaternary), #000 15%);
    border-bottom: 10px solid var(--inactive-color);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--inactive-color);
    text-decoration: none;

    &.active {
        cursor: default;
        border-bottom: 10px solid var(--tertiary);

        & span {
            color: var(--tertiary);

        }
    }
}