.textarea-container {
    width: 100%;
    min-height: 85px;

    & label {
        color: var(--quaternary);
        font-weight: 500;
    }

    & .textarea-control {
        margin-top: 5px;
        border: 2px solid var(--quaternary);
        border-radius: 10px;
        padding: 10px 10px;
        -ms-grid-column-span: 2;
        min-height: 40px;
        height: 40px;
        --w: 280px;
        width: var(--w);
        max-width: var(--w);
        min-width: var(--w);
    }

    & p {
        font-size: .8em;
        color: var(--error);
    }

    &:focus-within {
        & label {
            color: var(--tertiary);
        }

        & .textarea-control {
            outline: none;
            border: 2px solid var(--tertiary);
        }
    }

    &.invalid-field {
        & label {
            color: var(--error);
        }

        & .textarea-control {
            border: 2px solid var(--error);
        }
    }
}