.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &>:last-child {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
}

.issue-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1rem;
}